/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  


.btn{
    
        display: block;
        border-radius: 40px;
        border: 2px solid #76c1c2;
        font-weight: 900;
        height: 40px;
        width: 100px;
        background-color: white;
        color: #76c1c2;
        margin-bottom: 10px;
        margin-top: 40px;
    
   
}
.row{
    display: flex;
    background-color: #70a7ab;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-evenly;
   
   
}

.col{
    flex: 1;
    margin: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    margin-right: 80px;
   
    
}
.nav{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    height: 70px;
    
    
}
.nav-title{
    margin-left: 20px;
}
.nav-links{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: end;
    justify-content: flex-end;
    
}
a.active{
    color: whitesmoke;
    justify-content: space-around;
}
.btn-1{
    background-color: #17a2b8;
    color: white;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 16px;
    box-shadow: 5px 5px black;
    height: 35px;
}
